BKS/BKS/xsd/BKS-004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2007 bearbeitet (http://www.altova.com) von Servicebus (Arcor AG & Co. KG) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bks="http://www.vodafone.de/ESB/Service/SBUS/BKS/BKS-004" xmlns:common="http://www.vodafone.de/ESB/Schema/Common/CommonTypes-ESB-001" xmlns:bkstypes="http://www.vodafone.de/LinkDB/EPSM-BksTypes-001" xmlns:sbuscommon="http://www.arcor.net/EPSM-CommonTypes-001" xmlns:sidcom="http://www.vodafone.de/ESB/Schema/Common/SIDCOM-GetCustomerInfo-001" xmlns:sidmd="http://www.vodafone.de/ESB/Schema/Common/SIDCOM-MasterData-001" targetNamespace="http://www.vodafone.de/ESB/Service/SBUS/BKS/BKS-004" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.vodafone.de/ESB/Schema/Common/CommonTypes-ESB-001" schemaLocation="CommonTypes-ESB-001.xsd"/>
	<import namespace="http://www.vodafone.de/LinkDB/EPSM-BksTypes-001" schemaLocation="EPSM-BksTypes-001.xsd"/>
	<import namespace="http://www.arcor.net/EPSM-CommonTypes-001" schemaLocation="EPSM-CommonTypes-001.xsd"/>
	<import namespace="http://www.vodafone.de/ESB/Schema/Common/SIDCOM-GetCustomerInfo-001" schemaLocation="SIDCOM-GetCustomerInfo-001.xsd"/>
	<import namespace="http://www.vodafone.de/ESB/Schema/Common/SIDCOM-MasterData-001" schemaLocation="SIDCOM-MasterData-001.xsd"/>
	<annotation>
		<documentation>XML schema definition for endpoint BKS
History of Changes:
Vers.	Date					Author					Comment
====	==========	=============	=========================================
0.1		2010-10-10		Thomas Schneider  Initial draft version derived from BKS003 version 0.31
																with additions for CPCOM v3a
																- new requestType ICP
																- return more than one customer
0.2		2010-11-17		Reto Renner			xmlns:bks und targetNamepace: Version auf 004 geändert
0.3        2011-02-24       Thomas Schneider  added new reconsoldiation BKS service
0.3.1		2011-03-03		Rusbe Makuie		- GetFNPContactRole added
0.3.2		2011-03-03		Reto Renner			schemaLocation corrected

			</documentation>
	</annotation>
	<!-- ================ Data type Definitions===== =====================================-->
	<complexType name="queryDateIntervalType">
		<annotation>
			<documentation>BKS returms all assigned products  with a change in the defined time span. Creation is treaded as change.</documentation>
		</annotation>
		<sequence>
			<element name="startDate" type="sbuscommon:Datum">
				<annotation>
					<documentation>All products with an audit update change starting with this day ate returned.</documentation>
				</annotation>
			</element>
			<element name="endDate" type="sbuscommon:Datum">
				<annotation>
					<documentation>All products with an audit update change ending with this day are returned.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- ================ Endpoint Specific Operations =====================================-->
	<element name="GetFNPAddressByIdRequest">
		<annotation>
			<documentation>Description of input document</documentation>
		</annotation>
		<complexType>
			<choice>
				<element name="customerNumber" type="sbuscommon:Kundennummer" minOccurs="0">
					<annotation>
						<documentation>CCM customer number</documentation>
					</annotation>
				</element>
				<element name="bundleId" type="string" minOccurs="0">
					<annotation>
						<documentation>CCM bundle id</documentation>
					</annotation>
				</element>
			</choice>
		</complexType>
	</element>
	<element name="GetFNPAddressByIdResponse">
		<complexType>
			<sequence>
				<element name="addresses" type="sidmd:Address" maxOccurs="unbounded">
					<annotation>
						<documentation>The SIDCOM XSD.</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="GetFNPCustomerDataRequest">
		<annotation>
			<documentation>Description of input document</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="requestType" default="ICS">
					<annotation>
						<documentation>type of request that is send. "ICS" - integrated customer search, searches access_number or customer name and returns whether customer is know in CCM. "CPD" - customer and product data will return detailed customer and product data. will be intoduced with CPCOM v1b. "CID" - will return master data only: CustomerInformation.Data and CustomerInformation.customerInformationStatus. "GAP" - returns assigned  products: only productOfferingSubscriptions.  "GOL" returns all open orders: openOrder "ICP" Internal Customer and Product search: internal system call to BKS quering customer_number, access_number or kind of fuzzy search on person or comany data</documentation>
					</annotation>
					<simpleType>
						<restriction base="string">
							<enumeration value="ICS"/>
							<enumeration value="CPD"/>
							<enumeration value="CID"/>
							<enumeration value="GAP"/>
							<enumeration value="GOL"/>
							<enumeration value="ICP"/>
						</restriction>
					</simpleType>
				</element>
				<element name="customerNumber" type="sbuscommon:Kundennummer" minOccurs="0">
					<annotation>
						<documentation>CCM customer number</documentation>
					</annotation>
				</element>
				<element name="accessNumber" type="common:ComplexPhoneNumber" minOccurs="0">
					<annotation>
						<documentation>fixedNetPhoneNumber</documentation>
					</annotation>
				</element>
				<element name="queryLevel" minOccurs="0">
					<annotation>
						<documentation>If search is done by accessNumber "accessNumber" restricts the productOfferings returned to the one the accessNumber belongs to. "customer" returns all productOfferings of the customer</documentation>
					</annotation>
					<simpleType>
						<restriction base="string">
							<enumeration value="accessNumber"/>
							<enumeration value="customer"/>
						</restriction>
					</simpleType>
				</element>
				<element name="personData" type="bkstypes:PersonDataQueryInput" minOccurs="0">
					<annotation>
						<documentation>search object for individual customers</documentation>
					</annotation>
				</element>
				<element name="barcode" type="sbuscommon:Barcode" minOccurs="0">
					<annotation>
						<documentation>IT-k-000028695: barcode can be searched using requestType 'CPD'. BKS returns all products / bundles associated to the barcode.</documentation>
					</annotation>
				</element>
				<element name="companyData" type="bkstypes:CompanyDataQueryInput" minOccurs="0">
					<annotation>
						<documentation>search object for corporate and SOHO customers, will be introduced with IT-k-000028075 for CPCOM v1a</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="GetFNPCustomerDataResponse">
		<complexType>
			<sequence>
				<element name="sidcomVersion" type="string">
					<annotation>
						<documentation>The version of the SIDCOM XSD.</documentation>
					</annotation>
				</element>
				<element name="sid" type="sidcom:CustomerInformation" maxOccurs="unbounded">
					<annotation>
						<documentation>The SIDCOM XSD.</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="GetFNPCustomerRecoDataRequest">
		<annotation>
			<documentation>special reconsoldiation service Request</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="requestType" default="RCO">
					<annotation>
						<documentation>type of request that is send. "RCO" - special BKS version provided for reconsolidation purposes</documentation>
					</annotation>
					<simpleType>
						<restriction base="string">
							<enumeration value="RCO"/>
						</restriction>
					</simpleType>
				</element>
				<choice>
					<element name="serialNumber" type="string" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>bundleID</documentation>
						</annotation>
					</element>
					<element name="customerNumber" type="sbuscommon:Kundennummer" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>CCM customer number</documentation>
						</annotation>
					</element>
					<element name="queryDateInterval" type="bks:queryDateIntervalType" minOccurs="0">
						<annotation>
							<documentation>BKS returms all assigned products  with a change in the defined time span. Creation is treaded as change.</documentation>
						</annotation>
					</element>
				</choice>
			</sequence>
		</complexType>
	</element>
	<element name="GetFNPCustomerRecoDataResponse">
		<annotation>
			<documentation>Reconsolidation Response.  only status is used. If Status is not equal SUCCESS than excpetions in SOAP Header will be set.</documentation>
		</annotation>
		<complexType>
			<annotation>
				<documentation/>
			</annotation>
			<complexContent>
				<extension base="common:ResultDetailsObject"/>				
			</complexContent>
		</complexType>
	</element>
	<element name="GetFNPContactRoleRequest">
		<annotation>
			<documentation>Description of input document</documentation>
		</annotation>
		<complexType>
			<choice>
				<element name="customerNumber" type="sbuscommon:Kundennummer">
					<annotation>
						<documentation>CCM customer number</documentation>
					</annotation>
				</element>
				<element name="accessNumber" type="common:ComplexPhoneNumber">
					<annotation>
						<documentation>CCM access number</documentation>
					</annotation>
				</element>
				<element name="TASI" type="string">
					<annotation>
						<documentation>CCM technical service id number</documentation>
					</annotation>
				</element>
			</choice>
		</complexType>
	</element>
	<element name="GetFNPContactRoleResponse">
		<complexType>
			<sequence>
				<element name="sidcomVersion" type="string">
					<annotation>
						<documentation>The version of the SIDCOM XSD.</documentation>
					</annotation>
				</element>
				<element name="sid" type="sidcom:CustomerInformation">
					<annotation>
						<documentation>The SIDCOM XSD.</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
