BKS/BKS/xsd/BKS-006.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
History of Changes:
Vers.    Date              Author             Comment
====    =========  ===========  ===================================================
0.1     28.12.2011	Thomas Schneider      inital version derived from BKS006.wdsl
                                              IT 30713 new endpoint to provided versioning for NGCS
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapjms="http://www.w3.org/2008/07/soap/bindings/JMS/" xmlns:wsdlbase="http://www.vodafone.de/ESB/Service/Base/BaseAbstract-001.wsdl" xmlns:bks="http://www.vodafone.de/ESB/Service/SBUS/BKS/BKS-006" xmlns:tns="http://www.vodafone.de/ESB/Service/SBUS/BKS-006.wsdl" xmlns:ns="http://www.vodafone-arcor.de/LinkDB/EPSM-WHSVF-CommonTypes-001" xmlns:ns1="http://www.vodafone-arcor.de/LinkDB/EPSM-WHSVF-WSDL-Services" xmlns:ns2="http://www.vodafone.de/ESB/Schema/Common/BaseTypes-ESB-001" xmlns:ns3="http://www.arcor.net/EPSM-CommonTypes-APE-001" xmlns:ns4="http://www.arcor.net/EPSM-CommonTypes-Adresse-002" xmlns:ns5="http://www.arcor.net/EPSM-CommonTypes-JuristischePerson-002" xmlns:ns6="http://www.arcor.net/EPSM-CommonTypes-Kunde-002" xmlns:ns7="http://www.arcor.net/EPSM-CommonTypes-Person-002" xmlns:ns8="http://www.vodafone.de/ESB/Schema/Common/CommonTypes-ESB-001" xmlns:ns9="http://www.vodafone.de/ESB/Schema/Common/SIDCOM-GetCustomerInfo-001" xmlns:ns10="http://www.vodafone.de/ESB/Schema/Common/SIDCOM-MasterData-001" xmlns:ns11="http://www.vodafone.de/ESB/Schema/Common/SIDCOM-ProductData-001" xmlns:ns12="http://www.vodafone.de/ESB/Schema/Common/SIDCOM-StatusData-001" xmlns:ns13="http://www.vodafone.de/LinkDB/EPSM-BksTypes-001" xmlns:ns14="http://www.arcor.net/EPSM-CommonTypes-001" targetNamespace="http://www.vodafone.de/ESB/Service/SBUS/BKS-006.wsdl">
	<wsdl:import namespace="http://www.vodafone.de/ESB/Service/Base/BaseAbstract-001.wsdl" location="BaseAbstract-001.wsdl"/>
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.vodafone.de/ESB/Service/SBUS/BKS/BKS-006" schemaLocation="BKS-006.xsd"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="GetFNPCustomerHierarchyNGCSDataRequest">
		<wsdl:part name="GetFNPCustomerHierarchyNGCSDataRequest" element="bks:GetFNPCustomerHierarchyNGCSDataRequest"/>
	</wsdl:message>
	<wsdl:message name="GetFNPCustomerHierarchyNGCSDataResponse">
		<wsdl:part name="GetFNPCustomerHierarchyNGCSDataResponse" element="bks:GetFNPCustomerHierarchyNGCSDataResponse"/>
	</wsdl:message>
	<wsdl:message name="GetFNPCustomerNGCSDataRequest">
		<wsdl:part name="GetFNPCustomerNGCSDataRequest" element="bks:GetFNPCustomerNGCSDataRequest"/>
	</wsdl:message>
	<wsdl:message name="GetFNPCustomerNGCSDataResponse">
		<wsdl:part name="GetFNPCustomerNGCSDataResponse" element="bks:GetFNPCustomerNGCSDataResponse"/>
	</wsdl:message>
	<wsdl:portType name="BKSPortType">
		<wsdl:operation name="GetFNPCustomerHierarchyNGCSData">
			<wsdl:input name="GetFNPCustomerHierarchyNGCSDataRequest" message="tns:GetFNPCustomerHierarchyNGCSDataRequest"/>
			<wsdl:output name="GetFNPCustomerHierarchyNGCSDataResponse" message="tns:GetFNPCustomerHierarchyNGCSDataResponse"/>
			<wsdl:fault name="functionalESBException" message="wsdlbase:functionalESBException"/>
			<wsdl:fault name="technicalESBException" message="wsdlbase:technicalESBException"/>
		</wsdl:operation>
		<wsdl:operation name="GetFNPCustomerNGCSData">
			<wsdl:input name="GetFNPCustomerNGCSDataRequest" message="tns:GetFNPCustomerNGCSDataRequest"/>
			<wsdl:output name="GetFNPCustomerNGCSDataResponse" message="tns:GetFNPCustomerNGCSDataResponse"/>
			<wsdl:fault name="functionalESBException" message="wsdlbase:functionalESBException"/>
			<wsdl:fault name="technicalESBException" message="wsdlbase:technicalESBException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BKSJMSBinding" type="tns:BKSPortType">
		<wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!--<wsoap12:binding style="document" transport="http://www.w3.org/2008/07/soap/bindings/JMS/"/>-->
		<wsdl:operation name="GetFNPCustomerHierarchyNGCSData">
			<wsoap12:operation soapAction="/BKS-006/GetFNPCustomerHierarchyNGCSData" soapActionRequired="true" style="document"/>
			<soapjms:targetService>BKS</soapjms:targetService>
			<wsdl:input>
				<wsoap12:body parts="GetFNPCustomerHierarchyNGCSDataRequest" use="literal"/>
				<wsoap12:header message="wsdlbase:appMonDetailsHeader" part="AppMonDetails" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body parts="GetFNPCustomerHierarchyNGCSDataResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="functionalESBException">
				<wsoap12:fault name="functionalESBException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="technicalESBException">
				<wsoap12:fault name="technicalESBException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetFNPCustomerNGCSData">
			<wsoap12:operation soapAction="/BKS-006/GetFNPCustomerNGCSData" soapActionRequired="true" style="document"/>
			<soapjms:targetService>BKS</soapjms:targetService>
			<wsdl:input>
				<wsoap12:body parts="GetFNPCustomerNGCSDataRequest" use="literal"/>
				<wsoap12:header message="wsdlbase:appMonDetailsHeader" part="AppMonDetails" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body parts="GetFNPCustomerNGCSDataResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="functionalESBException">
				<wsoap12:fault name="functionalESBException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="technicalESBException">
				<wsoap12:fault name="technicalESBException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BKSService">
		<wsdl:port name="BKSServiceJMSEndpoint" binding="tns:BKSJMSBinding">
			<wsoap12:address location="jms:queue:endpointQeue"/>
			<!-- optional: replaces "wsoap12:address": -->
			<!--
				<jms:address
				destinationStyle="queue"
				jndiDestinationName="endpointQeue"
				jndiConnectionFactoryName="jmsFactory">
				</jms:address>
			-->
		</wsdl:port>
	</wsdl:service>
	<!-- xmlns:jms="http://cxf.apache.org/transports/jms" -->
</wsdl:definitions>
