BKS/BKS/xsd/som-order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.arcor.net/orderSchema" targetNamespace="http://www.arcor.net/orderSchema" elementFormDefault="qualified">
  <annotation>
    <documentation><![CDATA[
Part of the XML schema definition for SOM (Simple Order Model)
WARNING:
This XSD denotes the structure of the SOM and its elements.
It does NOT indicate which parts are mandatory or optional in the different use cases.

Change history:
      0.1 25.11.2009 - Gregor Emmerich initial delivery COM_133.01.00.00
      0.2 04.12.2009 - Gregor Emmerich - sendingSystem added, productBundle changed, reformating
      0.3 11.12.2009 - Gregor Emmerich - orderPositionNumber now required
      0.4 22.12.2009 - Gregor Emmerich - safetyPackage added
      0.5 20.01.2010 - Stefan Walter - barcode added (at the order)
      0.6 01.02.2010 - Gregor Emmerich - added additionalData to orderPosition
Since 1.0:
      2010-02-10 - Heiko Barthel - IT-26334, added necessary elements
      2010-03-16 - Jadranko Mrkonjic - IT-26182(TV-Center)
                          added dependentOrders to order-element.
                          added orderPosition "providerChange"
      2010-04-13 - Heiko Barthel - IT-27626 changed 'customerData' to maxoccurs=2
                                   IT-27626 added 'relocation' orderPosition type
                                   IT-27626 added 'targetCustomerNodeRefID' to 'beneficiary'
                                   IT-27626 added 'targetBillingAccountNodeRefID' to 'payerAllCharges'
      2010-04-13 - Heiko Barthel - voice (and internet) are unbounded now due to requirement by Ralf Taubert for IT-27626,
                                       added element 'contractPartnerChange'
Since 3.0:
      2010-04-28 - Heiko Barthel - IT-26056 added orderPositionType 'cancellation'
      2010-05-05 - Heiko Barthel - 'desiredDate' and 'orderReceivedDate' documented and suggestion to be changed to 'date'
      2010-05-21 - Jadranko Mrkonjic - changed cardinality of orderID within dependentOrders from 0...1 to 0...unbounded
Since 3.1:
      2010-06-24 - Joerg Winter - IT-27143 added element 'aoIndicator' to order
      2010-07-06 - Joerg Winter - IT-27143 added element 'aoMastered' to orderPosition
                                  IT-27143 added orderPosition types 'customerCreation' and 'customerDeactivation'
      2010-07-12 - Joerg Winter - IT-27143 added element 'bpid' to order
      2010-07-14 - Joerg Winter - IT-28260 added access type 'lte'
      2010-08-05 - Hans Becker - IT-28260 added progressNotification to order and introduced new type ProgressNotification
      2010-08-05 - Hans Becker - IT-28260 added previousOrderRef to orderPositionType
      2010-08-20 - Jadranko Mrkonjic - IT-27143 added 'deactivationDate' to orderPosition relocation
      2010-08-25 - Hans Becker - IT-27143 added campaignCode to orderPosition
      2010-08-26 - Jadranko Mrkonjic - IT-27143 added instantAccess to functions-element
      2010-09-21 - Heiko Barthel - fix for PN #1699, added discount type as it was in old SOM
      2010-09-30 - Joerg Winter - PN-2656 removed 'terminated' from 'discount' (use 'processingType' instead),
                                          added restriction to 'discount/processingType'
Since 3.2:
      2010-09-28 - Joerg Winter - added fixed value/restriction for new optional attribute fixedSomVersion
      2010-11-15 - Joerg Winter - restricted 'type' attribute of 'salesOrganisationNumber' to 'A' or 'V'
      2010-11-17 - Joerg Winter - added 'winbackReason' to 'termination'
                                  added 'otherAccess' and 'otherFunction'
      2010-11-25 - Heiko Barthel - IT-28713 added 'winbackReason' and 'targetOrderPositionNumber' to cancellation order position type
                                   IT-28713 added 'cancellationOrderId' to abstract order position type
                                   some string limitations due to CODB restrictions
      2010-11-25 - Joerg Winter - IT-27144 rework on adjustment
                                  added list of allowed values to 'customerIntention' and restricted to 30 characters
      2010-11-30 - Joerg Winter - IT-27144 added orderPositionTypes 'customerChange' and 'adjustmentChange'
Since 3.21:
      2010-12-06 - Joerg Winter - IT-26056 added 'PartTermination' and 'SiteClosure' to restriction of 'customerIntention'
      2010-12-08 - Joerg Winter - PN-3516 added 'CustomerCreation' to restriction of 'customerIntention'
                                      (used in IdentifyFNPCustomerServiceHandler)
      2010-12-17 - Joerg Winter - PN-3635 added 'PortNumbers' to restriction of 'customerIntention'
      2010-12-23 - Gesa Prien - PN-3671 added 'ChangeTariff' to restriction of 'customerIntention'
Since 3.22:
      2010-12-21 - Gesa Prien - IT-27783 added 'ChgExistingHardw' and 'ChgOrderedHardw' to restriction of 'customerIntention'
      2010-12-22 - Gesa Prien - IT-27144 added 'terminationReasonCode' to 'adjustmentTermination'
      2011-01-05 - Joerg Winter - PN-3745 changed type of element 'relocation/deactivationDate' from 'ExistConfDate' to 'dateTime'
      2011-01-10 - Joerg Winter - made most elements in adjustment optional
      2011-01-11 - Joerg Winter - IT-27144 added even more restriction of 'customerIntention'
      2011-01-18 - Joerg Winter - PN-3787 added 'contractNumber' to 'discount'
Since 3.23:
      2011-01-28 - Joerg Winter - IT-k-29619 added 'suppressConfirmationDocumentIndicator' to 'termination'
      2011-02-03 - Hans Becker - IT-29856 moved 'ccbId' from 'productBundle' to 'orderPosition'
Since 3.24:
      2010-03-10 - Joerg Winter - PN-4694 added 'TarifwechselMobi' to restriction of 'customerIntention'
      2011-03-21 - Joerg Winter - IT-k-30288 added 'ChgReturnedHardw' to pattern list 'customerIntention'
Since 3.3:
      2011-01-18 - Joerg Winter - splitted 'fixedSomVersion' into 'fixedSomMajorVersion' and 'fixedSomMinorVersion'
      2011-01-25 - Gesa Prien - removed 'customerCommunicationSimple' and 'customerCommunicationComplex'
                                    (remains of discussion for IT 26056, COM 1.35)
      2011-02-01 - Joerg Winter - restricted all unlimited strings to 100 characters maximum
      2011-02-15 - Joerg Winter - changed element names and logic for recurring adjustments
      2011-02-24 - Joerg Winter - PN-4412 added 'Deactivate' to pattern list 'customerIntention'
                                  PN-4466 added 'RNAenderung' to pattern list 'customerIntention'
                                  IT-29578 added 'KontaktGeloescht' to pattern list 'customerIntention'
      2011-03-02 - Joerg Winter - PN-4223 added 'secondResolutionDate' and 'secondResolutionUserId' to 'adjustment'
      2011-03-17 - Joerg Winter - PN-4815 added 'ChangeBandwidth', 'ChangeOwnership' and 'Terminate'
                                      to pattern list 'customerIntention'
Since 3.32:
      2011-05-04 - Joerg Winter - PN-5482 enlarged element 'descriptionText' from 100 to 360 characters
Since 3.4:
      2011-02-22 - Joerg Winter - changed attribute type 'somVersion' to 'decimal'
      2011-03-23 - Joerg Winter - IT-28575 added 'discountList' to orderPosition
                                           added 'sipTrunk' to 'accesses'
      2011-04-05 - Joerg Winter - IT-28575 renamed 'discountList' to 'discounts'
                                           added 'processingHints' to orderPositionType
      2011-04-19 - Joerg Winter - IT-29627 added 'workListItem' to orderPositionType
                                           added 'contactRoleRefIdList' to orderPositionType
      2011-04-27 - Joerg Winter - IT-29627 added 'aoRetroactive' to 'order'
      2011-05-05 - Joerg Winter - SPN-FIF-000112204 made attribute 'orderID' mandatory
      2011-05-17 - Joerg Winter - PN-5647 made attribute 'orderID' optional again
      2011-07-06 - Joerg Winter - PN-6158 made element 'seatRelocationIndicator' optional
Since 3.5:
      2011-07-07 - Heiko Barthel - restricted element 'barcode' to 13, 'sendingSystem' to 16 characters
      2011-08-16 - Joerg Winter - PN-6575 enlarged element 'internalReasonText' in 'adjustment'
                                      from 100 to 180 characters
Since 3.6:
      2011-08-10 - Joerg Winter - IT-28900 added element 'orderExtensionIndicator' to 'order'
      2011-08-18 - Joerg Winter - IT-29965 added 'productBundleId' to 'lineCreation'
      2011-09-28 - Joerg Winter - IT-28900 renewed list of entries for 'customerIntention'
                                               and restricted element to 16 characters
      2011-10-06 - Joerg Winter - IT-28900 added 'CreateCoupon' to list of entries for 'customerIntention'
                                  IT-30793 added 'AddTvCenter', 'ChgTvCenter' and 'TermTvCenter' to list
                                               of entries for 'customerIntention'
      2011-10-11 - Joerg Winter - IT-28900 made element 'salesOrganisation' mandatory
      2011-10-25 - Joerg Winter - IT-28900 added 'SimCardChange' to list of entries for 'customerIntention'
      2011-11-15 - Joerg Winter - restricted element 'classification' in 'beneficiary' to 16 characters
      2011-12-20 - Gesa Prien - IT-28900 PCR07 added 'continuationType' to 'previousOrderRef' of 'orderPositionType'
Since 3.7:
      2012-01-03 - Joerg Winter - IT-29977 moved 'cancellationReasonCode' and 'cancellationSalesOrganisationNumber'
                                               from 'termination' to 'orderPositionType', and 'cancellationReasonCode'
                                               from 'cancellation' to 'orderPositionType'
Since 3.8:
      2012-04-18 - Gesa Prien - IT-31157 added 'AddDSL', 'RemCanceledS0' and 'TerminateDSL' to 'customerIntention',
                                             changed type of element 'refFunctionID' from 'refFunctionID' to 'ExistConfStringId',
                                             added 'isdnP2P' to 'accesses',
                                             added 'extraLine' to 'functions'
      2012-04-24 - Joerg Winter - IT-31830 added 'orderAcceptedDate' to 'order'
      2012-06-12 - Gesa Prien - IT-31157 PCR01 added 'specialTimeWindow', 'projectOrderIndicator', 'fixedOrderDateIndicator'
                                                   to 'orderPositionType'
Since 3.9:
      2012-08-07 - Joerg Winter (Gesa Prien) - IT-31752 changed complex type 'salesOrganisation': added 'salesOrganisationInfo'
                                                            added 'businessDSLProfi' to 'accesses'
      2012-08-22 - Gesa Prien - IT-31752 reverted change of 'salesOrganisation'
                                             removed 'businessDSLProfi' from 'accesses'
      2012-09-14 - Chetan Goyani - IT - 32202 added 'parentBarcode' to 'termination'
Since 4.0:
      2013-01-24 - Hans Becker - IT-32220 New SOM version 4.0
      2013-01-30 - Chetan Goyani - IT 32434 added 'isdnS2M' to 'accesses'
                                            added 'RelocationClone','RelocationDeact','LineChangeClone','LineChangeDeact' to 'customerIntention'
Since 4.1:
      2013-05-22 - Neha Khombare - IT-32546 New SOM version 4.1

Since 4.2:
      2013-08-02 - Prabhat Singh - IT-32632 New SOM version 4.2
      2013-08-20 - Neha Khombare - IT-31530 Deprecate element threePartyProcess
Since 4.3
      2013-12-31 - Prabhat Singh - PPM -90531 Added new custmerIntention 'MaintainPTSG'
Since 4.4
      2014-04-30 - Prabhat Singh - PPM-105069 Added new customerIntention 'ChgIpAddressVar'
      2014-05-19 - Prabhat Singh - PPM-122784 Added new customerIntention 'EarlyTermination'  
Since 4.5
      2014-12-22 - Prabhat Singh - PN-26915 New SOM version 4.5
      
Since 16.0
      2015-01-06 - Prabhat Singh - ITk-32957/PPM-120389 New SOM version 16.0 (in accordance with BSS release)
                                   added element 'technologyChangeVariant' to lineChange orderPositionType
      2015-03-30 - Prabhat Singh - IT-k-33172 Discounts for POS-FE - New Order Position Type discountCreation added.
      2015-05-12 - Prabhat Singh - PPM-124244 PCR 55 - added new customerIntention 'DiscountCreation'
Since 17.0
      2015-06-15 - Prabhat Singh - PPM-116590_2 - added oneNetId to type productBundle
                                   added oneNetBusiness to type  access  
      2015-07-22 - Prabhat Singh - ITk-33065 - Added new continuationType 'DEPENDS_CANCEL'
Since 18.0  
      2015-08-27 - Prabhat Singh - PN-28303(SPN-COM-000131000) moved the element 'suppressConfirmationDocumentIndicator' to orderPositionType from 'termination'
      2015-08-27 - Prabhat Singh - PPM-100743_181773 - modified documentation for processingHints with values 'confirmationLetterInitiator', 'migrationType', 'suppressOpmLettersIndicator'                                                                        
      2015-11-17 - Ulrich Quester - PPM 116590_179351 - changed fixedSomMinorVersion to "3"
Since 19.0
      2016-01-21 - Prabhat Singh - PPM - 159238 added new functions 'mobileUsage' 
Since 20.0:
      2016-05-17 - Prabhat Singh - PPM-189902 removed complex element 'ProcessingHintList'     
      2016-05-19 - Prabhat Singh - PPM-136684 added 'pkatPacketId' to orderPositionType
      2016-06-08 - Prabhat Singh - PPM-136684 added 'processingHints' to order
Since 21.0:
      2016-09-08 - Apoorva Saini - PPM-179749 modified documentation for processingHints with values:  ignoreTmt(true,false), migrationSubject(PortChange) 
      2016-10-05 - Apoorva Saini - PN-30834 - changed fixedSomMinorVersion to "3"
      2016-10-13 - Neha Khombare - PPM-155469_xxxxx - changed fixedSomMinorVersion to "4"
Since 22.0:
      2017-01-25 - Apoorva Saini - PPM-183970_245219 - changed fixedSomMajorVersion to "22"
      2017-01-25 - Apoorva Saini - PPM-183970_245219 - changed fixedSomMinorVersion to "1"    
      2017-03-02 - Neha Khombare - PPM-136684-253621 - changed fixedSomMinorVersion to "2"
Since 23.0  
      2017-05-11 - Apoorva Saini - PPM-207533 - changed fixedSomMajorVersion to "23.0"
      2017-05-11 - Apoorva Saini - PPM-207533 - changed fixedSomMinorVersion to "1"
      2017-05-30 - Apoorva Saini - PPM-197512 - changed fixedSomMinorVersion to "2"
      2017-06-16 - Apoorva Saini - PPM-207533-250699 - changed fixedSomMinorVersion to "3"
      2017-06-16 - Apoorva Saini - PPM-207533-250699 - added salesPackagePrice and salesPackageValidSince to orderPositionType
      2017-07-19 - Apoorva Saini - IT-k-33852 - changed fixedSomMinorVersion to "4"
Since 24.0  
      2017-09-28 - Hazarath Meravula - PPM-101666_242258 - changed fixedSomMajorVersion to "24.0"
                                                           changed fixedSomMinorVersion to "1"
Since 25.0  
      2018-01-18 - Apoorva Saini - PPM-196251_278654 - changed fixedSomMajorVersion to "25.0"
Since 26.0
      2018-05-08 - Apoorva Saini - PPM-239428 - changed fixedSomMajorVersion to "26.0"
      2018-06-04 - Neha Khombare - PPM-230939 - changed fixedSomMinorVersion to "2"
                                                added businessVoip to accesses
Since 27.0
      2018-09-06 - Neha Khombare - PPM-320858 - changed fixedSomMajorVersion to "27.0"
                                                changed fixedSomMinorVersion to "1"                                                
]]></documentation>
  </annotation>
  <include schemaLocation="som-customer-data.xsd"/>
  <complexType name="order">
    <sequence>
      <element name="dependentOrders" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose:
    DEPRECATED
    Instead, previousOrderRef should be used (unless there is more than one
    dependent order as this is currently a restriction of previousOrderRef).
]]></documentation>
        </annotation>
        <complexType>
          <sequence>
            <element name="orderID" type="tns:string16" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
        </complexType>
      </element>
      <element name="barcode" type="tns:string13" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: If the functional 'barcode' and the technical id 'orderID' differ this element must be used to provide the
    functional 'barcode' for the SOM. There exist scenarios where more than one SOM is created using the same barcode.
    Usually the functional barcode is also used as the technical key (orderID). In this scenarios the element
    'barcode' can be omitted and the orderID also represents the barcode.
    For one barcode more than one orderID may exist.
Filled by: Frontend (optional, mandatory if different from OrderID)
    Since IT-28900 KBA changed its behaviour and fills always this element even if the barcode and orderID are the same.
Used by: all, COM (WF-14/WF-12)
]]></documentation>
        </annotation>
      </element>
      <element name="sendingSystem" type="tns:string16" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: System that placed an order in COM. Based on the service name and/or the entry system.
         Usually the system that called the service to place an order in COM.
Filled by: COM
Used by: COM (workflow selector)
]]></documentation>
        </annotation>
      </element>
      <element name="entryUser" type="tns:string16" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: The name of the person or system who entered the order
Filled by: Frontend
Used by: COM (for instance validated against value SAP), OutputManagement, OPM
]]></documentation>
        </annotation>
      </element>
      <element name="entryRole" type="tns:string32" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Filled by: Frontend (at least KBA)
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="entrySystem" type="tns:string16" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Name of the order capturing frontend.
Values: 
Filled by: Frontend
Used by: COM (workflow selector)
]]></documentation>
        </annotation>
      </element>
      <element name="entryDateTime" type="dateTime" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: For information for customer care only
Filled by: 
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="orderAcceptedDate" type="date" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Date when the order has been stored first. Will be filled by COM during
         storage, if not provided by the frontend.
Since: IT-31830 (1.43)
Filled by: Frontend, COM
Used by: DWH, FIF
]]></documentation>
        </annotation>
      </element>
      <element name="customerContactPoint" type="tns:string16" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Location where/how customer contacted VF
Values: CCM-GUI
Filled by: Frontend
Used by: CCB
]]></documentation>
        </annotation>
      </element>
      <element name="referencedOrderId" type="tns:string16" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Values: 
Filled by: 
Used by: COM???
]]></documentation>
        </annotation>
      </element>
      <element name="waitForWrittenOrder" type="boolean" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Specifies if a confirmation letter including signature is required from the customer
    to process this order.
Since: 1.34
Filled by: Frontend
Used by: OPM
]]></documentation>
        </annotation>
      </element>
      <element name="externalOrderId" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Order ID of a really external system
Filled by: Frontend
Used by: n/a
]]></documentation>
        </annotation>
      </element>
      <element name="ioid" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
    Integrated Order ID. This is a temporary order specific number used to set the entry in the link DB. ioid will not be passed on by COM.
    The link DB maps KIAS and CCB customer data.
Values: 
Filled by: 
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="salesOrganisation" type="tns:salesOrganisation">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Since: 
Values: 
Filled by: 
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="referringCustomer" type="tns:referringCustomer" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
  German: Kunde wirbt Kunde
Filled by: Frontend
Used by: CCB
]]></documentation>
        </annotation>
      </element>
      <element name="superCustomerTrackingId" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Reference to barcode of main order, if customer has multiple sub-orders
  German: Auftragsklammer
Values: 
Filled by: e.g. POS-FE
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="scanDate" type="date" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Date of scanning the order form.
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="customerData" type="tns:customerData" minOccurs="0" maxOccurs="2">
        <annotation>
          <documentation><![CDATA[
Purpose: CCB master data, created before OrderPositions are processed
Since: 
Values: 
Filled by: 
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element ref="tns:orderPosition" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Since: 
Values: 
Filled by: 
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="additionalData" type="tns:additionalData" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Since: 
Values: 
Filled by: 
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="aoIndicator" type="boolean" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Indicates that the according order should be fulfilled with synchronisation with AO
Since: IT-27143 (1.36)
Filled by: Frontend
Used by: COM to indicate whether AO has to be notified or not
]]></documentation>
        </annotation>
      </element>
      <element name="aoRetroactive" type="boolean" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: OFC requires a different notification pattern for technical orders.
    In the so called retroactive case the initial notification to OFC must be omitted.
    After fulfilment a createFNPOrder with an attribute indicating the retroactive case will be sent.
Since: IT-29627 (1.39)
Filled by: KBA
Used by: COM
]]></documentation>
        </annotation>
      </element>
      <element name="bpid" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Unique transaction id for an order
Since: IT-27143 (1.36)
Filled by: OFC / ePOS
Used by: OFC / ePOS
]]></documentation>
        </annotation>
      </element>
      <element name="orderExtensionIndicator" type="boolean" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: This flag is set by POS-FE to indicate that the order is not yet
    complete and new order positions may be added to the order
    (after processing has started in COM).
Since: IT-28900 (1.41)
Filled by: POS-FE
Used by: COM
]]></documentation>
        </annotation>
      </element>
      <element name="processingHints" type="tns:ProcessingHintList" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Special instructions from/to external systems. No system can rely on a special behaviour based on such a value, if not explicitely discussed with SOM team!
Values: fraudProtectionNecessary, sendConfirmationLetterIndicator, isLegacyOrder, witaUsage, confirmationLetterInitiator, migrationType (SILENT, REGULAR, NONE),
        suppressOpmLettersIndicator (true, false), statusUpdateObserverService (SBUS endpoint of the observer), ignoreTmt(true,false),
        migrationSubject(PortChange), sendConfirmationLetterWithPrices(true, false)
Since: IT-28575 (1.39)
Filled by: undefinied
Used by: COM and backends
]]></documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="orderID" type="tns:string16" use="optional">
      <annotation>
        <documentation><![CDATA[
Contains the barcode if the barcode and the orderID are equal, e.g. ARC0720191773.
Contains the orderID if the barcode and the orderID are not equal
In this case the barcode element is filled in the order additionally,
e.g. barcode=ARC0720191773, orderId=ARC0720191773_B.
For one barcode more than one orderID may exist.
]]></documentation>
      </annotation>
    </attribute>
    <attribute name="somVersion" type="tns:string16"/>
    <attribute name="fixedSomMajorVersion" type="decimal" fixed="27.0">
      <annotation>
        <documentation><![CDATA[
Purpose: This element can be used to distinguish between versions of the SOM; this field is not
    intended to be filled by SOM-XMLs; its only purpose is to provide a way to look for the version
    of a XML schema definition.
    The value of this field will appear in the attribute 'somVersion'
    See also: fixedSomMinorVersion
Since: 1.37
Values: e.g. '3.2', '3.21', '3.3', '3.4', '3.5'
Filled by: *do not fill it*
]]></documentation>
      </annotation>
    </attribute>
    <attribute name="fixedSomMinorVersion" type="integer" fixed="1">
      <annotation>
        <documentation><![CDATA[
Purpose: This element can be used to distinguish between versions of the SOM; this field is not
    intended to be filled by SOM-XMLs; its only purpose is to provide a way to look for the version
    of a XML schema definition.
    See also: fixedSomMajorVersion
Since: 1.38
Values: e.g. '1', '2', '3'
Filled by: *do not fill it*
]]></documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="additionalData">
    <annotation>
      <documentation>for internal use in COM only</documentation>
    </annotation>
    <sequence>
      <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="order" type="tns:order">
    <annotation>
      <documentation><![CDATA[
Purpose: Root element of a SOM - Start here!
]]></documentation>
    </annotation>
  </element>
  <element name="orderPosition" type="tns:orderPositionType"/>
  <element name="lineCreation" type="tns:lineCreation" substitutionGroup="tns:orderPosition"/>
  <element name="lineChange" type="tns:lineChange" substitutionGroup="tns:orderPosition">
    <annotation>
      <documentation><![CDATA[
Purpose: If terminated products are replaced by other products, or if other products are
    modified at the same time, use "lineChange" instead!
Since: 1.31
Filled by: 
Used by: 
]]></documentation>
    </annotation>
  </element>
  <element name="termination" type="tns:termination" substitutionGroup="tns:orderPosition">
    <annotation>
      <documentation><![CDATA[
Purpose: Use "termination" to terminate a whole line, or specific products from a line,
    at an existing location.
    If terminated products are replaced by other products, or if other products are modified
    at the same time, use "lineChange" instead!
Since: 1.31
Filled by: 
Used by: 
]]></documentation>
    </annotation>
  </element>
  <element name="providerChange" type="tns:providerChange" substitutionGroup="tns:orderPosition">
    <annotation>
      <documentation><![CDATA[
Purpose: Use "providerChange" to switch an entire line from Arcor to Vodafone, at an existing location.
    While the main products get changed, other products can be terminated or added at the same time.  
    Relocation is not possible at the same time.
Since: 1.31
Filled by: 
Used by: 
]]></documentation>
    </annotation>
  </element>
  <element name="contractPartnerChange" type="tns:providerChange" substitutionGroup="tns:orderPosition"/>
  <element name="relocation" type="tns:relocation" substitutionGroup="tns:orderPosition"/>
  <element name="cancellation" type="tns:cancellation" substitutionGroup="tns:orderPosition"/>
  <element name="productBundle" type="tns:productBundle" substitutionGroup="tns:orderPosition"/>
  <element name="customerCreation" type="tns:customerCreation" substitutionGroup="tns:orderPosition"/>
  <element name="customerChange" type="tns:customerChange" substitutionGroup="tns:orderPosition"/>
  <element name="customerDeactivation" type="tns:customerDeactivation" substitutionGroup="tns:orderPosition"/>
  <element name="adjustmentCreation" type="tns:adjustmentCreation" substitutionGroup="tns:orderPosition"/>
  <element name="adjustmentChange" type="tns:adjustmentChange" substitutionGroup="tns:orderPosition"/>
  <element name="adjustmentTermination" type="tns:adjustmentTermination" substitutionGroup="tns:orderPosition"/>
  <element name="discountCreation" type="tns:discountCreation" substitutionGroup="tns:orderPosition">
    <annotation>
      <documentation><![CDATA[
Purpose: Used to exclusively specify discounts. This order position must not contain the elements functions or accesses.
Since: PPM-124244_153216
Filled by: BPA
Used by: POS-FE
]]></documentation>
    </annotation>
  </element>
  <complexType name="orderPositionType" abstract="true">
    <annotation>
      <documentation><![CDATA[
Purpose: An order position contains a transaction regarding a bundle of functions planned for execution at a specific point in time (see element desiredDate).
orderPositionType is the abstract super type of concrete types, such as lineCreation, lineChange, termination and more.
]]></documentation>
    </annotation>
    <sequence>
      <element name="customerIntention" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
- This SOM field represents the customer's intention that lead to this order.
  It is meant as a first hint to the required transaction and backend actions.
- This field exists in SIDCOM, too. It is mapped 1:1 (impact to ePOS and AO/OFC).
- During creation of a KBA contact or transaction (de: "Vorgang") it is enriched and passed.
- It is sent from COM to OMTS.
- It is added to OM_DWH_OUTPUT and sent to VTS for determination of provisions.
- It influences the cancellation of orders in OPM.
- When COM receives an order from AIDA or KIAS a fixed value is assigned to it.
- Note: Specifying this field as enumeration implies that this XSD must be changed whenever a new value is needed.      

CAUTION:
  Each modification to this element must be communicated to KBA team!
  They will have to change their Customer Intention to Category mapping.
]]></documentation>
        </annotation>
        <simpleType>
          <restriction base="tns:string16">
            <enumeration value="AddDSL"/>
            <enumeration value="AddSeats"/>
            <enumeration value="AddTvCenter"/>
            <enumeration value="CancelOrder"/>
            <enumeration value="ChangeEmailAlias"/>
            <enumeration value="ChangeSimId"/>
            <enumeration value="ChgAccessNumbers"/>
            <enumeration value="ChgBillingData"/>
            <enumeration value="ChgCustomerData"/>
            <enumeration value="ChgExistingHardw"/>
            <enumeration value="ChgOrderedHardw"/>
            <enumeration value="ChgReturnedHardw"/>
            <enumeration value="ChgTvCenter"/>
            <enumeration value="ConfigureSeat"/>
            <enumeration value="ContrPartChange"/>
            <enumeration value="CreateCreditAdj"/>
            <enumeration value="CreateCoupon"/>
            <enumeration value="CreateCustomer"/>
            <enumeration value="CreateDebitAdj"/>
            <enumeration value="CreateDirEntry"/>
            <enumeration value="DataCorrection"/>
            <enumeration value="DeactCustomer"/>
            <enumeration value="LineChange"/>
            <enumeration value="LineCreation"/>
            <enumeration value="OrderHardware"/>
            <enumeration value="OrderInstServ"/>
            <enumeration value="OrderNewMIC"/>
            <enumeration value="OrderNewSPK"/>
            <enumeration value="ProviderChange"/>
            <enumeration value="RelocateSeat"/>
            <enumeration value="Relocation"/>
            <enumeration value="RemCanceledS0"/>
            <enumeration value="SetBarrings"/>
            <enumeration value="SetTariffOptions"/>
            <enumeration value="SetTermRight"/>
            <enumeration value="SimCardChange"/>
            <enumeration value="TerminateDSL"/>
            <enumeration value="TerminateSeat"/>
            <enumeration value="Termination"/>
            <enumeration value="TermTvCenter"/>
            <enumeration value="Winback"/>
            <enumeration value="RelocationClone"/>
            <enumeration value="RelocationDeact"/>
            <enumeration value="LineChangeClone"/>
            <enumeration value="LineChangeDeact"/>
            <enumeration value="ChangeDirEntry"/>
            <enumeration value="MaintainPTSG"/>
            <enumeration value="ChgIpAddressVar"/>
            <enumeration value="EarlyTermination"/>
            <enumeration value="DiscountCreation"/>
          </restriction>
        </simpleType>
      </element>
      <element name="desiredDate" type="dateTime" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: when the content of the order position should be become active (German: Wunschdatum)
Since: ever
Filled by: each frontend/capturing system
Used by:
]]></documentation>
        </annotation>
      </element>
      <element name="orderReceivedDate" type="dateTime" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: when that orderPosition was received by Vf. That's sometimes not the capture date,
    e.g. when a fax or mail was received
Since: ever
Filled by: each frontend/capturing system
Used by:
]]></documentation>
        </annotation>
      </element>
      <element name="previousOrderRef" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Reference to an order position of a specified order.
Since: IT-28260 (1.36)
Filled by: Frontend
Used by: COM
]]></documentation>
        </annotation>
        <complexType>
          <sequence>
            <element name="orderId" type="tns:string16" minOccurs="0"/>
            <element name="orderPositionNumber" type="tns:orderPositionNumber" minOccurs="0"/>
            <element name="continuationType" type="tns:ContinuationType" minOccurs="0"></element>
          </sequence>
        </complexType>
      </element>
      <element name="cancellationOrderId" type="tns:string16" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: If the order was cancelled the orderId of the according cancellation order is enriched into here
Since: 1.37
Filled by: COM workflow 6
Used by: SLS
]]></documentation>
        </annotation>
      </element>
      <element name="orderVariant" type="tns:string100" minOccurs="0"/>
      <element name="providerCode" type="tns:ExistConfString100" minOccurs="0"/>
      <element name="salesPackageName" type="tns:ExistConfString100" minOccurs="0"/>
      <element name="salesPacketCode" type="tns:ExistConfString100" minOccurs="0"/>
      <element name="salesPackagePrice" type="tns:ExistConfPricingInfo" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Holds the price information of sales package.
Since: BSS23(PPM-207533-250699)
Filled by: KBA
Used by: Outputmanagement-while sending confirmation letters.
]]></documentation>
        </annotation>
      </element>
      <element name="salesPackageValidSince" type="tns:ExistConfString10" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Holds the information, when the sales package has been introduced by Vodafone.
Since: BSS23(PPM-207533-250699)
Filled by: KBA
Used by: Outputmanagement-while sending confirmation letters.
]]></documentation>
        </annotation>
      </element>
      <element name="pkatPacketId" type="tns:ExistConfString100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: This element is a reference to the sales bundle as defined in the PKAT. It has no meaning in the context of an order (needs never to be filled) but will be used by the frontends when calling BKS to load the correct rule set in PKAT.
Filled by: BKS
Used by: OSF
]]></documentation>
        </annotation>
      </element>
      <element name="reason" type="tns:ExistConfString100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Since: ever
Values: (not CREATE_ADSL)
Filled by: POS, 
Used by: FIF
]]></documentation>
        </annotation>
      </element>
      <!-- QUESTION: How can beneficiary be optional? HBe, 2010-09-18 -->
      <element name="beneficiary" type="tns:beneficiary" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Indicates the owner of the affected line, reference to CCB customer, 
    set only at OrderPosition level and applies to all functions,
    always 1 "default", + 1 "target" for ProviderChange.
    For "termination" orderPosition only 1 beneficiary with role "default" is allowed. 
Since: 1.31
]]></documentation>
        </annotation>
      </element>
      <element name="payerAllCharges" type="tns:payerAllCharges" minOccurs="0"/>
      <element name="progressNotification" type="tns:ProgressNotification" minOccurs="0"/>
      <element name="accesses" type="tns:accesses" minOccurs="0"/>
      <element name="functions" type="tns:functions" minOccurs="0"/>
      <element name="discount" type="tns:discount" minOccurs="0">
        <annotation>
          <documentation><![CDATA[since 1.60 (ITk-33172): Deprecated, it should not be used anymore.]]></documentation>
        </annotation>
      </element>
      <element name="kbaOrderItemType" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: some kind of order type that was started in the frontend
Since: ever
Filled by: KBA
Used by: OMTS (is put into 'kundenwunschOIT' field of AuftragsStatusAendernService)
]]></documentation>
        </annotation>
      </element>
      <element name="additionalData" type="tns:additionalData" minOccurs="0"/>
      <element name="aoMastered" type="tns:ExistConfBoolean" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Indicates that the according order position should be fulfilled with synchronisation with AO
Since: IT-27143 (1.36)
Filled by: CCB
Used by: AO
]]></documentation>
        </annotation>
      </element>
      <element name="campaignCode" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Code of a marketing campaign, used to create an association between the campaign
  and one or more contracts
Since: IT-27143 (1.36)
Filled by: Frontend
Used by: FIF
]]></documentation>
        </annotation>
      </element>
      <element name="adjustment" type="tns:adjustment" minOccurs="0" maxOccurs="unbounded"/>
      <element name="discounts" type="tns:discountList" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: New kind of discounts by FrontEnd
  NOT IS USAGE BY FIF
Since IT: IT-28575 (1.39)
Filled by: POS-FE
Used by: FIF
]]></documentation>
        </annotation>
      </element>
      <element name="ccbId" type="tns:ccbId_B" minOccurs="0"/>
      <element name="processingHints" type="tns:ProcessingHintList" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Special instructions from/to external systems. No system can rely on a special behaviour based on such a value, if not explicitely discussed with SOM team!
Values: fraudProtectionNecessary, sendConfirmationLetterIndicator, isLegacyOrder, witaUsage, confirmationLetterInitiator, migrationType (SILENT, REGULAR, NONE), 
suppressOpmLettersIndicator (true, false), statusUpdateObserverService (SBUS endpoint of the observer), ignoreTmt(true,false), migrationSubject(PortChange)
Since: IT-28575 (1.39)
Filled by: undefinied
Used by: COM and backends
]]></documentation>
        </annotation>
      </element>
      <element name="workListItem" type="tns:WorkListItem" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Describes the necessary attributes to create a workflow in KBA
Since: IT-29627 (1.39)
]]></documentation>
        </annotation>
      </element>
      <element name="contactRoleRefIdList" type="tns:ContactRoleRefIdList" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Since: IT-29627 (1.39)
Filled by: ePOS
Used by:
]]></documentation>
        </annotation>
      </element>
      <element name="cancellationReasonCode" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
  Formerly placed under orderPositionType termination
Since: IT-29977 (1.42)
Values:
  KKG
  Netzqualität
  TBS
  UNKNOWN
  Wechsel auf FUT
  AGKS
  DTAG-Anschaltung negativ EA
  ABW
  WID
  CCM
  Try&Buy
  Kundenwunsch
  UMZ
  SON
  SKR
  UNK
  Widerruf
  (Source: H. Barthel and some magic database queries)
Filled by: Frontend
Used by:
]]></documentation>
        </annotation>
      </element>
      <element name="cancellationSalesOrganisationNumber" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
    Formerly placed under orderPositionType termination
Since: IT-29977 (1.42)
Filled by: Frontend
Used by:
]]></documentation>
        </annotation>
      </element>
      <element name="specialTimeWindow" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Hint when the technician should visit the customer's site.
Since: IT-31157 (1.43), was part of adsl/sdsl/fttxInternetConfiguration before.
Filled by: POS-FE
Used by: OPM
]]></documentation>
        </annotation>
      </element>
      <element name="projectOrderIndicator" type="boolean" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: indicates a project order, german: 'Projektauftrag'.
Since: IT-31157 (1.43), was part of adsl/sdsl/fttxInternetConfiguration, voiceConfiguration before.
Filled by: POS-FE
Used by: OPM
]]></documentation>
        </annotation>
      </element>
      <element name="fixedOrderDateIndicator" type="boolean" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: indicates a fixed order date, used in context of the order date desired by the customer, 
    german: 'Fixer Bestelltermin', verwendet in Verbindung mit 'Terminwunsch Kunde' und einem Datum.
Since: IT-31157 (1.43), was part of adsl/sdsl/fttxInternetConfiguration, portingAccessNumberRanges, portingAccessNumbers before.
Filled by: POS-FE
Used by: OPM
]]></documentation>
        </annotation>
      </element>
      <element name="suppressConfirmationDocumentIndicator" type="boolean" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: If set, no confirmation email or letter should be sent by Outputmanagement: kommunikationDurchfuehren=false
Since: IT-k-29619 (1.37)
Filled by: CCB
Used by: OutputManagement
]]></documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="orderPositionNumber" type="tns:orderPositionNumber" use="required"/>
  </complexType>
  <simpleType name="ContinuationType">
    <annotation>
      <documentation><![CDATA[
Purpose: Describes, which kind of continuation event will be sent by the referenced order. 
CONTINUE: The referenced order will send a continue, if it reaches any final state.
DEPENDS: The referenced order will send either continue, cancel or abort depending on the final state of the order.
Since: IT-28900 PCR07 (1.41)
Filled by: Frontend
Used by: Workflow
]]></documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="CONTINUE"/>
      <enumeration value="DEPENDS"/>
      <enumeration value="DEPENDS_CANCEL"/>
    </restriction>
  </simpleType>
  <complexType name="lineCreation">
    <complexContent>
      <extension base="tns:orderPositionType">
        <sequence>
          <element name="productBundleId" type="tns:ccbId_B" minOccurs="0">
            <annotation>
              <documentation><![CDATA[
Purpose: For open orders (i.e. a ipCentrex lineCreation including hardware) which are not completely
    processed in CCM, BKS provides only the orderId and orderPositionNumber in SBus service
    PrefetchProductBundlesService output. BKS could not deliver the ccbId in addition due to the choice
    in the output structure
Since: IT-29965 (1.41)
Filled by: BKS
Used by:
]]></documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="lineChange">
    <complexContent>
      <extension base="tns:orderPositionType">
        <sequence>
          <element name="technologyChangeVariant" type="tns:string100" minOccurs="0">
            <annotation>
              <documentation><![CDATA[
Purpose: Allows for a change of technology from isdnP2P to sipTrunk a parallel testing of the new sipTrunk on a new line.
Since: BSS16
Values:  'kombin. Schaltg.', 'Parallel', 'coordinated'
Filled by: Frontend
Used by: OPM
]]></documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="relocation">
    <complexContent>
      <extension base="tns:orderPositionType">
        <sequence>
          <element name="seatRelocationIndicator" type="boolean" minOccurs="0">
            <annotation>
              <documentation><![CDATA[
seatRelocationIndicator is only allowed and intented for ipCentrex bundles. Please do not generate this
element in SOMs which are not related to an ipCentrex bundle.
]]></documentation>
            </annotation>
          </element>
          <element name="productBundleId" type="tns:ccbId_B" minOccurs="0"/>
          <element name="keepFixedNumbersIndicator" type="boolean">
            <annotation>
              <documentation><![CDATA[
Refers to element 'keepExistingNumbers' on functions level, both fields should contain the same value!
]]></documentation>
            </annotation>
          </element>
          <element name="relocationVariant" type="tns:string100">
            <annotation>
              <documentation><![CDATA[
Purpose: 
Since: 1.36
Values: 'fixe Abschaltung', 'kombin. Schaltg.', 'Parallel'
Filled by: Frontend
Used by: 
]]></documentation>
            </annotation>
          </element>
          <element name="deactivationDate" type="dateTime" minOccurs="0">
            <annotation>
              <documentation><![CDATA[
Purpose: When relocationVariant is set to 'fixe Abschaltung' an explicit date for deactivation of
         the old access must be provided here.
Since: 1.36
Filled by: Frontend
Used by: 
]]></documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="termination">
    <complexContent>
      <extension base="tns:orderPositionType">
        <sequence>
          <element name="terminationReasonCode" type="tns:string100"/>
          <element name="detailedTerminationReason" type="tns:string100" minOccurs="0"/>
          <element name="withoutNoticePeriod" type="tns:string100" minOccurs="0"/>
          <element name="threePartyProcess" type="boolean" minOccurs="0">
            <annotation>
              <documentation><![CDATA[
Deprecated - Since - IT-31530 (1.47) replaced by element lineTakeOver on access level.
Purpose: Indicates if the termination is for a 3-party-process, i.e. if the customer leaves Arcor for a
    non-TCom competitor.
    Stored on a new CCB service characteristic "Leitungsübernahme" on the terminated TAL service.
    The new carrier is stored in: accesses/*/*Configuration/portingAccessNumbers/carrier/configured
Since: 1.31
Values:
  I1210
  V0003
  V0010
  V0011
Filled by: 
Used by: 
]]></documentation>
            </annotation>
          </element>
          <element name="winbackReason" type="tns:string16" minOccurs="0">
            <annotation>
              <documentation><![CDATA[
Purpose: Filled by COM in case of a cancelled termination; it will *not* be filled by any external system
Since: 1.37
Filled by: COM
Used by: 
]]></documentation>
            </annotation>
          </element>
          <element name="parentBarcode" type="tns:string16" minOccurs="0">
            <annotation>
              <documentation><![CDATA[
Purpose: The parentBarcode is used in the context of a termination for a provider change from Vodafone to 1&1. It references the order received from the WholesaleAdapter in OPM. The order is not available in COM!
Since: IT-32202 (1.44)
Filled by: FIF
Used by: OPM
]]></documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="providerChange">
    <complexContent>
      <extension base="tns:orderPositionType">
        <sequence>
          <element name="parentBarcode" type="tns:string16"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="cancellation">
    <complexContent>
      <extension base="tns:orderPositionType">
        <sequence>
          <element name="targetOrderId" type="tns:string16" minOccurs="0"/>
          <element name="targetOrderPositionNumber" type="tns:orderPositionNumber" minOccurs="0"/>
          <element name="winbackReason" type="tns:string16" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="productBundle">
    <complexContent>
      <extension base="tns:orderPositionType">
        <sequence>
          <element name="productBundleType" type="tns:ProductBundleType" minOccurs="0"/>
          <element name="locationAddress" type="tns:address" minOccurs="0"/>
          <element name="salesPacketId" type="tns:ExistConfString100" minOccurs="0"/>
          <element name="salesPacketBasePrice" type="tns:ExistConfString100" minOccurs="0"/>
          <element name="oneGroupId" type="tns:ONEGroupId" minOccurs="0"/>
          <element name="oneNetId" type="tns:ExistConfString12" maxOccurs="1" minOccurs="0"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="customerCreation">
    <annotation>
      <documentation><![CDATA[
Purpose: Empty position to indicate creation of a customer
Since: IT-27143 (1.36)
Filled by: 
Used by: 
]]></documentation>
    </annotation>
    <complexContent>
      <extension base="tns:orderPositionType">
      </extension>
    </complexContent>
  </complexType>
  <complexType name="adjustmentCreation">
    <annotation>
      <documentation><![CDATA[
Purpose: Empty position to indicate an adjustment only
Since: IT-27144 (1.37)
Filled by: 
Used by: 
]]></documentation>
    </annotation>
    <complexContent>
      <extension base="tns:orderPositionType">
      </extension>
    </complexContent>
  </complexType>
  <complexType name="adjustmentTermination">
    <annotation>
      <documentation><![CDATA[
Purpose: Empty position to indicate the termination of an adjustment
Since: IT-27144 (1.37)
Filled by: 
Used by: 
]]></documentation>
    </annotation>
    <complexContent>
      <extension base="tns:orderPositionType">
        <sequence>
          <element name="terminationReasonCode" type="tns:string100" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="discountCreation">
    <complexContent>
      <extension base="tns:orderPositionType"/>
    </complexContent>
  </complexType>
  <complexType name="customerChange">
    <annotation>
      <documentation><![CDATA[
Purpose: Empty position to indicate changes to a customer
Since: IT-27144 (1.37)
Filled by: 
Used by: 
]]></documentation>
    </annotation>
    <complexContent>
      <extension base="tns:orderPositionType">
      </extension>
    </complexContent>
  </complexType>
  <complexType name="adjustmentChange">
    <annotation>
      <documentation><![CDATA[
Purpose: Empty position to indicate changes to an adjustment
Since: IT-27144 (1.37)
Filled by: 
Used by: 
]]></documentation>
    </annotation>
    <complexContent>
      <extension base="tns:orderPositionType">
      </extension>
    </complexContent>
  </complexType>
  <complexType name="adjustment">
    <sequence>
      <element name="ccbId" type="tns:ccbId_J" minOccurs="0"/>
      <choice minOccurs="0">
        <element name="serviceSubscriptionId" type="tns:ExistConfString20">
          <annotation>
            <documentation><![CDATA[
Purpose: If supplied, this value will be used to populate adjustment.servicesubscriptionID
    attribute directly; if this subscription is not guided to <accountNumber>, an error
    will be raised; if supplied, STP id, PS id, child customer are ignored;
    use either 'serviceSubscriptionId' or 'refFunctionID'
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
          </annotation>
        </element>
        <element name="refFunctionID" type="tns:ExistConfStringId">
          <annotation>
            <documentation><![CDATA[
Purpose: See 'serviceSubscriptionId'
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
          </annotation>
        </element>
      </choice>
      <element name="adjustmentAmount" type="tns:ExistConfString20" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: The amount of the adjustment; this amount should always be a positive number
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="descriptionText" type="tns:ExistConfString360" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: A free text describing the adjustment
Since: IT-27144 (1.37)
Changed: PN-5482 (1.39)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="internalReasonText" type="tns:ExistConfString180" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: A freetext describing the adjustment for internal Arcor use
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="reasonCode" type="tns:ExistConfString20" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: The reason code for the adjustment
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="productCode" type="tns:ExistConfString5" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: This in *not* the product code of the adjustment
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="productGroupCode" type="tns:ExistConfString4" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: See 'productCode'
Since: IT-27144 (1.37)
Values:
  PG11: Fixed Access Voice       V0002  ISDN 
  PG12: Fixed Access Internet    I1204  NGN-Internet 
  PG21: Resale Access Voice      V0001  Preselection 
  PG22: Resale Access Internet   I1203  BIT-Stream 
  PG23: Resale Access Mobilfunk  V8000  Mobile 
  PG31: Service Rufnummern       N0001  Service Rufnummern 
  PG51: Handelsware              Z0075  Endgeräte 
  PG63: Sonstige TK              Z0101  Abrechnung Technikereinsatz 
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="taxCode" type="tns:ExistConfString2" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: The tax code to use for the adjustment
Since: IT-27144 (1.37)
Values: reference data group code 'TAX_CODE'
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="creationDate" type="tns:ExistConfDate" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: This field specifies the creation date of the adjustment
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="creationUserId" type="tns:ExistConfString20" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: This field specifies the user who created the adjustment
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="resolutionDate" type="tns:ExistConfDate" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: This field data specifies the approval or rejection date of the adjustment
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="resolutionUserId" type="tns:ExistConfString20" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: This field specifies the user ID who approved or rejected the adjustment; if the adjustment
    is of type DEBIT and the field from the input-xml is empty, it's defaulted to the create user id;
    if the adjustment is of type CREDIT and the field from the input-xml is empty an error will be raised
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="secondResolutionDate" type="tns:ExistConfDate" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Needed for double-stage approval processs; see 'resolutionDate'
Since: PN-4223 (1.38)
Filled by: KBA
Used by: KBA
]]></documentation>
        </annotation>
      </element>
      <element name="secondResolutionUserId" type="tns:ExistConfString20" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Needed for double-stage approval processs; see 'resolutionUserId'
Since: PN-4223 (1.38)
Filled by: KBA
Used by: KBA
]]></documentation>
        </annotation>
      </element>
      <element name="fulfilmentDate" type="tns:ExistConfDate" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: The date to which the adjustment will be executed; as soon as possible if left void
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="totalRecurringDuration" type="tns:ExistConfInteger" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Describes the total number of times ERP will process a recurring adjustment
Since: IT-27144 (1.37), changed with 1.38
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="remainingRecurringDuration" type="tns:ExistConfInteger" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Describes the number of times ERP has still to process (and pay) a recurring adjustment
Since: IT-27144 (1.37), changed with 1.38
Filled by: BKS
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="status" type="tns:ExistConfString20" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Since: 1.38
Values (database query as of 2011-02-08):
    APPROVED
    CANCELED
    CANCELLED
    CREATED
    PENDING
    PROCESSED
    REJECTED
Filled by: BKS
Used by: FIF
]]></documentation>
        </annotation>
      </element>
      <element name="recurringReclaimIndicator" type="tns:ExistConfBoolean" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: In case of an adjustment termination only: the field indicated if the adjustment
  is called in from the customer (the customer has to give the money back to Vodafone)
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="paymentMode" type="tns:ExistConfString16" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Since: IT-27144 (1.37)
Values: 'DIRECT', 'INVOICE'
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="sendConfirmationIndicator" type="tns:ExistConfBoolean" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: True if a confirmation shall be sent to the customer (field 'print' in FIF)
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="kbaTransactionNumber" type="tns:ExistConfString16" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Since: IT-27144 (1.37)
Filled by: KBA
Used by: 
]]></documentation>
        </annotation>
      </element>
      <element name="processingType" type="tns:processingType" minOccurs="0"/>
    </sequence>
    <attribute name="ID" type="tns:ID"/>
  </complexType>
  <complexType name="customerSearchErrorType">
    <annotation>
      <documentation></documentation>
    </annotation>
    <sequence>
      <element name="customerSearchError" type="tns:string100" minOccurs="0"/>
    </sequence>
  </complexType>
  <simpleType name="posProcessingResultType">
    <restriction base="string">
      <enumeration value="OK"/>
      <enumeration value="CANCELLED"/>
    </restriction>
  </simpleType>
  <complexType name="customerDeactivation">
    <annotation>
      <documentation><![CDATA[
Purpose: Empty position to indicate the deactivation of a customer
Since: IT-27143 (1.36)
Filled by: 
Used by: 
Todo: introduce base level orderPositionType (with orderPositionNumber only) as base for this type
]]></documentation>
    </annotation>
    <complexContent>
      <extension base="tns:orderPositionType"/>
    </complexContent>
  </complexType>
  <complexType name="salesOrganisation">
    <sequence>
      <element name="salesOrganisationNumber" type="tns:salesOrganisationNumber" maxOccurs="2"/>
      <element name="eShopCode" type="tns:string100" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="salesOrganisationNumber" mixed="true">
    <attribute name="type">
      <annotation>
        <documentation><![CDATA[
Values:
  'A': Arcor
  'V': Vodafone
]]></documentation>
      </annotation>
      <simpleType>
        <restriction base="string">
          <enumeration value="A"/>
          <enumeration value="V"/>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="accesses">
    <annotation>
      <documentation><![CDATA[
Purpose: lists all accesses used by any of the functions bundled in the line.
   An 'isdn', 'mobile', 'sip', 'ipCentrex', 'sipTrunk' or 'oneNetBusiness' access is referenced at least by a voice function.
   An 'ipBitstream', 'dslr', 'preselect' or 'businessDSL' access is referenced at least by an internet function.
   An 'ngn' access is referenced at least by a voice function and an internet function.
Since: 1.31 or earlier
What about companyNet, lte?
]]></documentation>
    </annotation>
    <sequence>
      <element name="businessDSL" type="tns:businessDSL" minOccurs="0" maxOccurs="unbounded"/>
      <element name="isdnP2P" type="tns:IsdnP2P" minOccurs="0" maxOccurs="unbounded"/>
      <element name="ipCentrex" type="tns:ipCentrex" minOccurs="0" maxOccurs="unbounded"/>
      <element name="sipTrunk" type="tns:sipTrunk" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation><![CDATA[
Since Rel: 1.39
Since IT: 28575
]]></documentation>
        </annotation>
      </element>
      <element name="companyNet" type="tns:companyNet" minOccurs="0" maxOccurs="unbounded"/>
      <element name="isdn" type="tns:isdn" minOccurs="0" maxOccurs="unbounded"/>
      <element name="ngn" type="tns:ngn" minOccurs="0" maxOccurs="unbounded"/>
      <element name="ipBitstream" type="tns:ipBitstream" minOccurs="0" maxOccurs="unbounded"/>
      <element name="dslr" type="tns:dslr" minOccurs="0" maxOccurs="unbounded"/>
      <element name="preselect" type="tns:preselect" minOccurs="0" maxOccurs="unbounded"/>
      <element name="mobile" type="tns:mobile" minOccurs="0" maxOccurs="unbounded"/>
      <element name="sip" type="tns:sip" minOccurs="0" maxOccurs="unbounded"/>
      <element name="lte" type="tns:lte" minOccurs="0" maxOccurs="unbounded"/>
      <element name="otherAccess" type="tns:otherAccess" minOccurs="0" maxOccurs="unbounded"/>
      <element name="isdnS2M" type="tns:IsdnS2M" minOccurs="0" maxOccurs="unbounded"/>
      <element name="oneNetBusiness" type="tns:oneNetBusiness" minOccurs="0" maxOccurs="unbounded"/>
      <element name="businessVoip" type="tns:businessVoip" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation><![CDATA[
Since Rel: 26.0
Since IT: PPM-230939
]]></documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="functions">
    <annotation>
      <documentation><![CDATA[
Purpose: Lists all functions bundled in the line such as voice, internet, hardware, directoryEntry... (see XSD for complete list) 
]]></documentation>
    </annotation>
    <sequence>
      <element name="internet" type="tns:internet" minOccurs="0" maxOccurs="unbounded"/>
      <element name="voice" type="tns:voice" minOccurs="0" maxOccurs="unbounded"/>
      <element name="extraNumbers" type="tns:extraNumbers" minOccurs="0" maxOccurs="unbounded"/>
      <element name="directoryEntry" type="tns:directoryEntry" minOccurs="0" maxOccurs="unbounded"/>
      <element name="seat" type="tns:seat" minOccurs="0" maxOccurs="unbounded"/>
      <element name="hardware" type="tns:hardware" minOccurs="0" maxOccurs="unbounded"/>
      <element name="installationSvc" type="tns:installationSvc" minOccurs="0" maxOccurs="unbounded"/>
      <element name="instantAccess" type="tns:instantAccess" minOccurs="0" maxOccurs="unbounded"/>
      <element name="safetyPackage" type="tns:safetyPackage" minOccurs="0" maxOccurs="unbounded"/>
      <element name="tvCenter" type="tns:tvCenter" minOccurs="0" maxOccurs="unbounded"/>
      <element name="iptv" type="tns:iptv" minOccurs="0" maxOccurs="unbounded"/>
      <element name="vod" type="tns:vod" minOccurs="0" maxOccurs="unbounded"/>
      <element name="extraLine" type="tns:ExtraLine" minOccurs="0" maxOccurs="unbounded"/>
      <element name="otherFunction" type="tns:otherFunction" minOccurs="0" maxOccurs="unbounded"/>
      <element name="mobileUsage" type="tns:MobileUsage" minOccurs="0" maxOccurs="unbounded"></element>
    </sequence>
  </complexType>
  <complexType name="discount">
    <sequence>
      <element name="ccbId" type="tns:ccbId_S" minOccurs="0"/>
      <element name="productCode" minOccurs="0">
        <complexType>
          <sequence>
            <element name="existing" type="tns:string100" minOccurs="0"/>
          </sequence>
        </complexType>
      </element>
      <element name="productName" minOccurs="0">
        <complexType>
          <sequence>
            <element name="existing" type="tns:string50" minOccurs="0"/>
          </sequence>
        </complexType>
      </element>
      <element name="productVersionCode" minOccurs="0">
        <complexType>
          <sequence>
            <element name="existing" type="tns:string100" minOccurs="0"/>
          </sequence>
        </complexType>
      </element>
      <element name="pricingStructureCode" minOccurs="0">
        <complexType>
          <sequence>
            <element name="existing" type="tns:string100" minOccurs="0"/>
          </sequence>
        </complexType>
      </element>
      <element name="pricingStructureName" minOccurs="0">
        <complexType>
          <sequence>
            <element name="existing" type="tns:string60" minOccurs="0"/>
          </sequence>
        </complexType>
      </element>
      <element name="terminationType" minOccurs="0">
        <complexType>
          <sequence>
            <element name="existing" type="tns:string100" minOccurs="0"/>
          </sequence>
        </complexType>
      </element>
      <element name="processingType" type="tns:processingType" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Values: e.g. TERMINATED
]]></documentation>
        </annotation>
      </element>
      <element name="contractNumber" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: 
Since: PN-3787
Filled by: BKS
Used by: 
]]></documentation>
        </annotation>
        <complexType>
          <sequence>
            <element name="existing" type="tns:string16" minOccurs="0"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
    <attribute name="ID" type="tns:ID"/>
  </complexType>
  <complexType name="beneficiary">
    <annotation>
      <documentation><![CDATA[
Purpose: Reference to CCB customer. Set only at OrderPosition level and applies to all functions.
   A beneficiary is linked to a newly-created Customer via element 'customerNodeRefID', or to an existing Customer 
   via element 'ccbId type="C"' (value = CCB customer number).
Since:
Filled by: 
Used by: 
]]></documentation>
    </annotation>
    <sequence>
      <element name="ccbId" type="tns:ccbId_C" minOccurs="0"/>
      <element name="customerNodeRefID" type="tns:stringId" minOccurs="0"/>
      <element name="targetCustomerNodeRefID" type="tns:stringId" minOccurs="0"/>
      <element name="classification" type="tns:ExistConfString16" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
QUESTION: is it still needed? Belongs to the customer object right?
]]></documentation>
        </annotation>
      </element>
      <element name="serviceProvider" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
QUESTION: is it still needed? Belongs to the customer object right?
]]></documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="ID" type="tns:ID"/>
    <attribute name="role" type="tns:string16">
      <annotation>
        <documentation>Deprecated since 1.35: Do not use this attribute any longer.</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="payerAllCharges">
    <annotation>
      <documentation><![CDATA[
Purpose: Reference to CCB billing account. Set only at order position level and applies to all functions and charge types.
   payerAllCharges is linked to a newly-created billing account via element 'billingAccountNodeRefID', 
   or to an existing BillingAccount via element ccbId.
Filled by:
Used by:
]]></documentation>
    </annotation>
    <sequence>
      <element name="ccbId" type="tns:ccbId_A" minOccurs="0"/>
      <element name="billingAccountNodeRefID" type="tns:stringId" minOccurs="0"/>
      <element name="targetBillingAccountNodeRefID" type="tns:stringId" minOccurs="0"/>
    </sequence>
    <attribute name="ID" type="tns:ID">
      <annotation>
        <documentation>JW: most probably not used here</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="referringCustomer">
    <sequence>
      <element name="referringCustomerNumber" type="tns:string16" minOccurs="0"/>
      <element name="salutation" type="tns:string100" minOccurs="0"/>
      <element name="forename" type="tns:string100" minOccurs="0"/>
      <element name="name" type="tns:string100" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="ProgressNotification">
    <sequence>
      <element name="smsNumber" type="tns:accessNumber" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: The phone number an SMS should be sent to when a specific milestone during processing is reached.
Since: 1.36
Filled by: Frontend
Used by: ?
]]></documentation>
        </annotation>
      </element>
      <element name="emailAddress" type="tns:string64" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: The address an email should be sent to when a specific milestone during processing is reached.
Since: 1.36
Filled by: Frontend
Used by: ?
]]></documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="WorkListItem">
    <annotation>
      <documentation><![CDATA[
Purpose: Describes the necessary attributes to create a workflow in KBA
Since: IT-29627 (1.39)
]]></documentation>
    </annotation>
    <sequence>
      <element name="categoryName" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Will be mapped by KBA to the corresponding category and worklist.
Since: IT-29627 (1.39)
Filled by: KBA
Used by: KBA
]]></documentation>
        </annotation>
      </element>
      <element name="entryText" type="tns:string100" minOccurs="0">
        <annotation>
          <documentation><![CDATA[
Purpose: Will be displayed in the history of the 'Vorgangsanzeige'.
Since: IT-29627 (1.39)
Filled by: KBA
Used by: KBA
]]></documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>
